p {
  color: teal;
}
h2 {
  text-align: center;
  font-family: proxima-nova;
}
img {
  width: 100%;
  height: 100px;
}
.responsive {
  width: 100%;
  height: auto;
}
.parallax-container {
  min-height: 400px;
  height: auto;
}
